.purple0002_ContentBg{
	background-color:#FFFFFF;
	display:inline-block;
	width:100%;
	border:0;
	padding-top:1px;
	padding-right:1px;
	padding-bottom:1px;
	padding-left:1px;
	BORDER-top: #f7f7f7 0px solid;
	BORDER-right: #f7f7f7 0px solid;
	BORDER-bottom: #a46fa8 1px solid;
	BORDER-left: #f7f7f7 0px solid;	
  	-webkit-border-radius:0px;
  	-moz-border-radius:0px;
  	border-radius:0px;
	margin-bottom:15px;
	-webkit-box-shadow: 0px 0px 10px 3px #f1f1f1;
	-moz-box-shadow: 0px 0px 10px 3px #f1f1f1;
	box-shadow: 0px 0px 10px 3px #f1f1f1;

}


.purple0002_ContentBg div.inside_margin{
	margin-left:15px;
	margin-right:15px;
}