a.style07_grey0006_button:visited,
a.style07_grey0006_button {
	width: 100%;	
	background-color:transparent;
	border:1px solid #656565;
	color:#656565;
	display: inline-block;
	FONT-FAMILY: 'Open Sans', sans-serif, Arial;
	font-size: 12px;
	padding-top: 6px;
	padding-right: 11px;
	padding-bottom: 6px;
	padding-left: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 20px;
	text-align: center;
	cursor:pointer;
	cursor:hand;
  	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
	vertical-align: middle;	
	font-weight: bold;
	text-decoration: none;
}

a.style07_grey0006_button:hover,
a.style07_grey0006_button:focus {
	background-color:#888888;
	border:1px solid #888888;
	COLOR: #FFFFFF;
	text-decoration:none;
}